{% extends 'layout.twig' %}

{% block content %}
	<head>
		<style>
			body{
				background-color: #f0f0f0;
				background-image: url("{{ 'images/background.png' | url }}");
				background-size: cover;
				font-family: 'Montserrat', sans-serif;
				margin-top: 5vh;
			}
			img{
				border-radius: 10px 0px;
			}
			.container{
				background: rgba(0,0,0,0.1);
				height: 90vh;
				border-radius: 10px;
				border: 1px solid gray;
			}
		</style>
	</head>
	<h3 class="text-muted">Admin Panel</h3>
	<h4 class="text-muted"><b>Welcome {{ user.name }}!</b></h4>
	<br>
	<br>
	<div class="btn-group-vertical col-lg-5">
		<a href="{{ 'admin/posts' | url }}" class="btn btn-lg btn-block btn-primary text-important">Manage Posts</a>
		<a href="{{ 'admin/users' | url }}" class="btn btn-lg btn-block btn-warning text-important">Manage Users</a>
		<a href="{{ 'auth/logout' | url }}" class="btn btn-lg btn-block btn-danger text-important">Logout</a>
	</div>
{% endblock %}
