{% extends 'layout.twig' %}

{% block content %}

	<head>
		<style>
			body{
				background-color: #f0f0f0;
				background-image: url("{{ 'images/background.png' | url }}");
				background-size: cover;
				font-family: 'Montserrat', sans-serif;
				margin-top: 5vh;
			}
			img{
				border-radius: 10px 0px;
			}
			.container{
				background: rgba(0,0,0,0.1);
				height: 90vh;
				border-radius: 10px;
				border: 1px solid gray;
			}
			.containertable{
				max-height: 300px;
				overflow-y: auto;
			}
		</style>
	</head>
	<h2 class="text-muted">Users</h2>
	{% if result %}
		<div class="alert alert-success col-xs-12 col-sm-12 col-md-12 ">User Deleted!</div>';
	{% endif %}
	<a href="{{'admin/users/create' | url }}" class="btn btn-primary btn-lg">New User</a>
	<br/>
	<br/>
	<div class="containertable">
		<table class=" table table-responsive table-striped table-hover col-sm-12 col-md-12">
			<thead>
				<tr>
					<th class="text-success">Name</th>
					<th class="text-success">Email</th>
					<th class="text-success">Delete</th>
				</tr>
			</thead>
			{% set urlfinalito = 'admin/users/delete/' | url  %}
			<tbody>
				{% for user in users %}
					<tr>
						<td class="text-muted">{{user.name | replace({'-': " "})}}</td>
						<td class="text-muted">{{user.email}}</td>
						<td class="text-danger"> <a onclick="deletUser('{{user.name}}','{{urlfinalito}}')" class="btn btn-danger btn-popover"><span class="glyphicon glyphicon-trash"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
{% block js %}
	<script>
		function deletUser(word, first){
			swal({
			  title: 'Are you sure?',
			  text: "You won't be able to revert this!",
			  type: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Yes, delete it!',
			  cancelButtonText: 'No, cancel!',
			  confirmButtonClass: 'btn btn-success',
			  cancelButtonClass: 'btn btn-danger',
			  buttonsStyling: false
			}).then(function () {
			  swal(
			    'Deleted!',
			    'Your file has been deleted.',
			    'success'
			  )
			  	var title; title = word;
			  	var helper; helper = first; 
				var urlfinal; urlfinal = helper + title;
			  	window.location.href = urlfinal;
			}, function (dismiss) {
			  // dismiss can be 'cancel', 'overlay',
			  // 'close', and 'timer'
			  if (dismiss === 'cancel') {
			    swal(
			      'Cancelled',
			      'Your user is safe :)',
			      'error'
			    )
			  }
			})
		}
	</script>
{% endblock %}