{% extends "layout.twig" %}
{% block content %}
	{% for blogPost in blogPosts %}
		<div class="blog-post">
			<!--Este template va a heredar de otro template-->
			<h2><!--Para imprimir un valor con twig se utiliza doble corchete-->
				<a href="{{ ('post/' ~ blogPost.title) | url }}" class="text-success">
					{{blogPost.title | replace({'-': " "})}}
				</a>
				{% set title = blogPost.title %}
			</h2>
			<p>
				{{blogPost.updated_at}} by <a href="#">Will</a>
			</p>
			{% if blogPost.img_url %}
				<div class="blog-post-image">
					<img src="{{ blogPost.img_url }}" alt="" class="img-responsive">
				</div>
			{% endif %}
			<br>
			<div class="blog-post-content article">
				{{blogPost.content}}
			</div>
		</div>
	{% endfor %}
{% endblock %} 
